.logo {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: 0%;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;


}

.navlist {
    display: inline;
}