body {
    background-color: blue;
    background-image: url("https://wallpapercave.com/wp/O0Myqhm.jpg");
    background-position: initial;

}

.logo {
    padding: 0;
    color: white;
    letter-spacing: 2px;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
}

.topnav {
    background-color: rgba(91, 91, 91, 0.264);
    overflow: hidden;
    border-style: none;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightskyblue;
    color: white;
}